[2014-05-08 10:20] #832 closed, assigned to o-smirnov

[2014-05-08 10:20] gijzelaerr opened #833 "Solver needs to deal sensibly with (temporarily) small derivatives"
##### at 2011-10-18 21:45:11 Oleg Smirnov reported:

Solver needs to deal sensibly with (temporarily) small derivatives

[2014-05-08 10:20] gijzelaerr opened #834 "need a 'lock' option for chartplotter(inspector) plots"
##### at 2011-11-02 21:38:59 Tony Willis reported:

need a 'lock' option for chartplotter(inspector) plots

[2014-05-08 10:20] gijzelaerr opened #835 "Frequent SEGV when running dE solutions"
##### at 2011-11-05 13:58:33 Oleg Smirnov reported:

Frequent SEGV when running dE solutions

[2014-05-08 10:20] gijzelaerr opened #836 "solving for dE:phase, followed by dE:ampl in the same session produces no solvables"
##### at 2011-11-06 14:52:21 Oleg Smirnov reported:

solving for dE:phase, followed by dE:ampl in the same session produces no solvables

[2014-05-08 10:20] gijzelaerr opened #837 "EMSS beams produce 0 at center"
##### at 2011-11-19 15:53:39 Oleg Smirnov reported:

EMSS beams produce 0 at center

[2014-05-08 10:20] gijzelaerr opened #838 "Investigate improved frequency interpolation in beams"
##### at 2011-11-19 15:57:42 Oleg Smirnov reported:

Investigate improved frequency interpolation in beams

[2014-05-08 10:20] gijzelaerr opened #839 "flag_jones_minmax error, calico-wsrt.py"
##### at 2011-12-09 18:38:56 Ian Heywood reported:

flag_jones_minmax error, calico-wsrt.py

[2014-05-08 10:20] gijzelaerr opened #840 "need option to dodge around rotation matix in EMSSVoltageBeam.py"
##### at 2012-02-02 21:21:03 Tony Willis reported:

need option to dodge around rotation matix in EMSSVoltageBeam.py

[2014-05-08 10:20] gijzelaerr opened #841 "MSUtil.py incompatible with lwimager 20091230"
##### at 2012-03-05 18:23:50 Ian Heywood reported:

MSUtil.py incompatible with lwimager 20091230

[2014-05-08 10:20] #841 closed, assigned to o-smirnov

[2014-05-08 10:20] gijzelaerr opened #842 "Dump bookmark plotter values to ASCII file"
##### at 2012-04-07 00:33:59 Ian Heywood reported:

Dump bookmark plotter values to ASCII file

[2014-05-08 10:20] gijzelaerr opened #843 "Dump bookmark plotter values to ASCII file"
##### at 2012-04-07 00:34:00 Ian Heywood reported:

Dump bookmark plotter values to ASCII file

[2014-05-08 10:20] #843 closed, assigned to o-smirnov

[2014-05-08 10:20] gijzelaerr opened #844 "turbo-sim.py bookmarks"
##### at 2012-04-07 23:56:44 Ian Heywood reported:

turbo-sim.py bookmarks

[2014-05-08 10:20] gijzelaerr opened #845 "Periodic pointing error + pybeams_fits model = error"
##### at 2012-04-08 14:22:12 Ian Heywood reported:

Periodic pointing error + pybeams_fits model = error

[2014-05-08 10:20] #845 closed, assigned to o-smirnov

[2014-05-08 10:20] gijzelaerr opened #846 "Sinks break when ANTENNA1>ANTENNA2"
##### at 2012-04-13 17:48:48 Oleg Smirnov reported:

Sinks break when ANTENNA1>ANTENNA2

[2014-05-08 10:20] gijzelaerr opened #847 "Siamese.OMS.oms_n_inverse doesn't work"
##### at 2012-11-20 17:28:52 Tony Willis reported:

Siamese.OMS.oms_n_inverse doesn't work

[2014-05-08 10:20] gijzelaerr opened #848 "MeqTrees Inspector plot needs quick page selection option"
##### at 2012-11-23 23:04:30 Tony Willis reported:

MeqTrees Inspector plot needs quick page selection option

[2014-05-08 10:20] gijzelaerr opened #849 "stuff is not added to exsiting MS"
##### at 2012-11-28 08:25:07 Tony Willis reported:

stuff is not added to exsiting MS

[2014-05-08 10:20] #849 closed, assigned to o-smirnov

[2014-05-08 10:20] gijzelaerr opened #850 "Obscure problem with dims and inspectors"
##### at 2013-01-03 20:23:27 Tony Willis reported:

Obscure problem with dims and inspectors

[2014-05-08 10:20] gijzelaerr opened #851 "(r8829) pybeams_fits (turbo-sim.py) doesn't like my (hitherto working) beam FITS files"
##### at 2013-01-07 20:38:51 Ian Heywood reported:

(r8829) pybeams_fits (turbo-sim.py) doesn't like my (hitherto working) beam FITS files

[2014-05-08 10:20] #851 closed, assigned to o-smirnov

[2014-05-08 10:20] gijzelaerr opened #852 "need a way to specify multiple spectral window IDs together"
##### at 2013-02-27 19:51:12 Tony Willis reported:

need a way to specify multiple spectral window IDs  together

[2014-06-02 17:45] ddmusc opened #853 "Meqtrees not working on Ubuntu 14.04 desktop version"
I am trying to run meqtrees on a freshly installed Ubuntu 14.04, using the provided packages. I am getting this error and the GUI does not come up

daniel@msnikki:~$ meqbrowser.py
Welcome to the MeqTrees Browser!
Please wait a second while the GUI starts up.
Binding to local socket =meqbrowser-1000:1
Binding to TCP port 5000, remote meqservers may connect with gwpeer=<host>:5000
meqserver(multiapp

[2014-07-17 12:22] maaijke opened #854 "installing meqtrees"
When installing I encountered the following problems:

1. errors when using latest blitz version, so I had to return to blitz0.9. Also, in order to get the right Blitz version used also in MeqNodes I had to add the following line to
MeqNodes/CMakeLists.txt
INCLUDE_DIRECTORIES(${BLITZ_INCLUDE_DIR})

2. Defining CASACORE_LIBRARY_PATH when running cmake,using -Detc..somehow doesn't work, it went well

[2014-07-23 12:58] IanHeywood opened #855 "Vagrant up failure"
My VM was subjected to an ungraceful shutdown and now it's refusing to restart. Any advice gratefully received. Thanks!

tachikoma:papino ianh$ vagrant up
Bringing machine 'default' up with 'virtualbox' provider...
[default] Clearing any previously set forwarded ports...
[default] Clearing any previously set network interfaces...
[default] Preparing network interfaces based on configuration...
[de

[2014-07-23 13:15] #855 closed, assigned to gijzelaerr

[2014-08-05 13:54] o-smirnov opened #856 "Stefcal crashing on unpolarized sky model"
[code]

Looks like it's not happy when a dE-enabled source is not polarized (i.e. has a null model element).

[2014-08-27 13:28] #853 closed, assigned to nobody

[2014-10-16 15:18] o-smirnov opened #857 "add option to pybeams_fits to read multiple FITS files for multiple frequencies"
Copy the code from EMSS beams. This will address ratt-ru/calibration-pipelines#7.

[2015-02-25 10:38] gijzelaerr commented on #854
I think this has been resolved now timba is working with the stock ubuntu blitz.

[2015-02-25 10:38] #854 closed

[2015-03-03 10:10] o-smirnov opened #858 "MS I/O layer not happy when dealing with an MS that is not sorted by TIME"
See e.g. the MS ```elwood:/home/kassaye/KAT_sources/PKS1939-6342.MS``` (reported by @Ermiasabebe). This has multiple observation IDs stuck together, so when it is processed in a single gulp, MSSeqOutputChannel starts throwing exceptions when it gets to a chunk where time has stepped backwards:

![meq_err_mss1](https://cloud.githubusercontent.com/assets/6470079/6460244/2c954b34-c19e-11e4-8917-26388

[2015-04-21 12:54] SpheMakh opened #859 "meqtree-pipeliner sheebang line assumes python is at /usr/bin/python"
It would be better to look at the system PATH. That is, use `#!/usr/bin/env python` instead of `#!/usr/bin/python`.

[2015-05-04 10:24] #859 closed

[2015-05-06 18:49] twillis449 commented on #675
Can we reopen this issue? I would still like to see a waterhole repository somewhere. Although python scripts might not necessarily work right away, I don't think that any of this stuff came with a guarantee/ Also there is a doc subdirectory with lots of extremely useful presentations by Oleg.

[2015-05-19 10:08] o-smirnov opened #860 "Qwt5 not compatible with numpy-1.9"
Looks like we're going to hit a wall soon. Numpy 1.9 has dropped support for numpy.oldnumeric, which PyQwt5 appears to rely on. This causes the meqbrowser to fail.

[2015-05-19 15:40] twillis449 commented on #860
Try compiling from source code. The build checks if numeric or numarray is availble. If not, it should be ignoring them. Of course, you may have to install a whole bunch of  -dev files if you are using Ubuntu in order to get things to work. I've only gone as far as trying to build and noting that messages about numarray etc not being found and will be ignored do appear.

[2015-06-16 03:46] IanHeywood opened #861 "gdbm fatal: malloc error"
Calibrating with calico-wsrt-tens.py via the browser, the process crashes with a "gdbm fatal: malloc error" message printed to the terminal. A system monitor shows that MeqTrees is only using about a third of my system RAM when this happens. The same MS with a slightly shallower sky model was processing to completion yesterday, now the crash happens every time with the deeper model and some update

[2015-06-16 04:48] twillis449 commented on #861
Hi Ian
If you built MeqTrees from source, did you have qdbm and qdbm development libraries installed? I believe that the various configure scripts etc are then supposed to select or link against qdbm if you have it installed.
If you just installed the pre-built ubuntu packages I would assume that the qdbm dependency is taken care of for you.

[2015-06-16 06:44] IanHeywood commented on #861
Thanks Tony.

I typically install the binary versions to get the dependencies, then check out the source and rebuild.

I installed libqdbm-dev (which was apparently missing) and rebuilt, but the problem persists.

Cheers.

[2015-06-16 07:21] IanHeywood commented on #861
Correction: hadn't "git pull"ed in a while so I did that and rebuilt. Now compilation fails at 94% [with a flurry of blitz errors](http://pastebin.com/JXaL1nwQ).

[2015-06-16 07:54] o-smirnov commented on #861
You need to update your blitz package. There was some package renaming
going on so you may need to remove the old packages first.

On Tue, 16 Jun 2015 09:21 IanHeywood <notifications@github.com> wrote:

[2015-06-16 08:50] o-smirnov commented on #861
Also, could you try removing libgdbm-dev before rebuilding, to make sure it links against qdbm instead?

I remember some worrying issue about all this, but the details escape me at the moment...

Also, any reason you're not using calico-stefcal instead?

[2015-06-16 09:05] gijzelaerr commented on #861
make sure you have blitz 0.10 installed, not 0.11 or 0.9.

[2015-06-16 10:00] IanHeywood commented on #861
Thanks for the pointers. I'll try again when I'm back in the office tomorrow. As for calico-stefcal.py, it fails to select any data from this MS for reasons I've yet to figure out.

[2015-06-16 11:41] o-smirnov commented on #861
Pretty sure it's this: https://github.com/ska-sa/meqtrees-timba/issues/1. How big are your fmep files from the previous (successful) run? Once they get over 2Gb, boom...

This is why we switched to qdbm in the first place, but now I remember that they treacherously dropped ``hovel.h`` (the gdbm compatibility API) from the qdbm packages in Ubuntu 12 (see this: https://bugs.debian.org/cgi-bin/bugrep

[2015-06-16 12:59] IanHeywood commented on #861
That could be it, although the fmep that remains post-crash is only 525 MB. I guess I'll try to figure out how to get Stefcal to swallow the MS in the meantime.

@gijzelaerr what's your preference?

Cheers.

[2015-06-16 13:24] gijzelaerr commented on #861
Experience learns that the repackaging of Ubuntu packages is not a good idea. Why not convince people upstream @ debian that we need `hovel.h`?

[2015-06-16 13:25] gijzelaerr commented on #861
or why not bundle `hovel.h` with meqtrees-timba

[2015-06-16 13:25] IanHeywood commented on #861
@gijzelaerr I'm buying you a beer anyway.

[2015-06-16 14:32] o-smirnov commented on #861
Convincing the Debian folks is not going to solve Ian's immediate problem... and it's not just ``hovel.h``, it's the ``gdbm_*`` functions in ``libqdbm.a`` that they've disabled.

I suppose the most foolproof solution is to put the entire qdbm source in TImba, build it, and link against it statically. Then we don't have a problem conflicting with Debian packages or anything like that.

[2015-06-16 14:36] o-smirnov opened #862 "switch from the GDBM to the native QDBM API"
Since only ``MEQ/src/FastParmTable.cc`` is affected, and the interface is quite analogous to gdbm, it should be easy to switch from the gdbm calls to the native "depot" calls (http://manpages.ubuntu.com/manpages/saucy/man3/depot.3.html). This will put #861 and https://github.com/ska-sa/meqtrees-timba/issues/1 to rest.

@IanHeywood, are you willing to test this if I do it?

[2015-06-16 22:10] o-smirnov commented on #862
OK I've implemented this in a branch for now: https://github.com/ska-sa/meqtrees-timba/tree/native-qdbm-issue1

Can't test properly here as I haven't got anything that still uses FastParmTable. @IanHeywood, could you please check out that branch, rebuild, and test?

[2015-07-08 12:36] bennahugo opened #863 "Meqserver in ppa segfaults on startup"
There is a problem with the meqtrees build on the PPA

Purged and installed latest set of meqtrees deb files from the radio astronomy ppa. Meqtrees GUI opens up, but as soon as I start a server I get a segfault.

 Building meqtrees from source directly from the master branch seems to resolve the issue. Meqserver starts up successfully

[2015-07-08 14:44] Ermiasabebe opened #864 "Convert .pat files into fits files"
Hi all,

I have the beam pattern with * .pat* format with different frequencies and polarizations. The script emss2fits.py has some commands to convert into fits files. It works for a single *.pat* file  using "emss2fits.py --freqs=1457  --ampl --template= Patterns_origin/TS3e15h_origin_v_1457_c.pat test.fits"

What is the command to change multifrequency ".pat" files into fits

[2015-07-08 14:48] o-smirnov commented on #864
Check the help, but if I recall correctly, it's something like:

```emss2fits.py --freqs=1457,1460 --ampl Patterns_origin/TS3e15h_origin_v_@freq_c.pat test.fits```

i..e list the frequencies for which you have .pat files after --freqs, and use @freq in the filename as a placeholder for the frequency.

[2015-07-09 08:37] gijzelaerr commented on #863
hi, thanks for reporting this problem.

Are you using Ubuntu 14.04? What casacore version do you have installed? Is there anything else to report about your setup or is it just a plain Ubuntu 14.04 isntall with our repository enabled?

@o-smirnov do you know what may be causing this? Did you change things in the trunk?

[2015-07-09 08:56] bennahugo commented on #863
Hi Gijs

Using Ubuntu 14.04 and I'm sticking to casacore and libcasacore-dev from radio astronomy ppa
casacore-data/trusty,now 20150706-1trusty all [installed,automatic]
casacore2/trusty,now 2.0.0-1trusty amd64 [installed]
libcasacore-dev/trusty,now 1.7.0-2trusty amd64 [installed]
libcasacore1/trusty,now 1.7.0-2trusty amd64 [installed,automatic]
libcasacore2/trusty,now 2.0.0-1trusty amd64 [install

[2015-07-09 09:01] gijzelaerr commented on #863
What happens if you remove the casacore2 and libcasacore2 packages?

2015-07-09 10:56 GMT+02:00 bennahugo <notifications@github.com>:

--
Gijs Molenaar
http://pythonic.nl

[2015-07-09 09:13] bennahugo commented on #863
Still the same seqfault.. have the following installed:

casacore-data/trusty,now 20150706-1trusty all [installed,automatic]
libcasacore-dev/trusty,now 1.7.0-2trusty amd64 [installed]
libcasacore1/trusty,now 1.7.0-2trusty amd64 [installed,automatic]
libmeqtrees-timba0/trusty,now 1.3.4-1trusty amd64 [installed,automatic]
meqtrees/trusty,now 1.3.3-2trusty amd64 [installed]
meqtrees-timba/trusty,now

[2015-08-28 17:24] IanHeywood opened #865 "Meqbrowser won't start, looks lie"
I've suddenly started to get this error in a system dialog popup when I start the meqbrowser:

[code]

To the best of my knowledge I haven't updated anything on this installation for a while. iPython etc. all find numpy just fine. I'm running Ubuntu 14.04. Wondered if there was a quick fix before I tear everything down and start again...

[2015-08-28 18:17] twillis449 commented on #865
I have a fully up-to-date (latest software patches etc) ubuntu 14.04 on my laptop and the meqbrowser starts up just fine.  I would first just try doing a re-install of numpy  with the ubunutu package manager. Personally I still use synaptic as I can't stand the silly Software Centre.

[2015-08-28 18:51] o-smirnov commented on #865
Hmmm, I saw this here: https://github.com/ska-sa/meqtrees/issues/860

What's you numpy version? If you pip installed something newer than what comes with 14.04, you may be tripping over this...

[2015-08-28 19:03] IanHeywood commented on #865
Hmmm.

Re-installing numpy seems to have broken everything. Time for a fresh OS install I think.

[2015-08-28 20:55] twillis449 commented on #865
synapic sez that the official version of numpy for ubuntu 14.04 is 1.1.8-2 (seems a bit odd but definitely a whole lot less that v1.9 that gives other troubles as pointed out by @o-smirnov

A fresh install is always good for the soul and also probably gets rid of a lot of software that you thought your needed but never actually used. So you can think of it as a cleansing for various sins you have

[2015-09-02 10:45] IanHeywood opened #866 "Binary installations as per the meqtrees.net guide not working (Ubuntu 14.04.3)"
Bailing out at this stage:

[code]

[2015-09-02 10:55] gijzelaerr commented on #866
did you do a `apt-get update` before `apt-get install`?

What happens if you run `$ apt-get install casarest`? Could be that you need to enable universe and/or multiverse.

[2015-09-02 11:03] IanHeywood commented on #866
Yes, as part of enabling the SKA-SA PPA. I did a sudo apt-get install casarest, followed by the sudo apt-get install meqtrees lwimager lofar, I get the following:

[code]

Cheers.

[2015-09-02 11:06] gijzelaerr commented on #866
please remove the lwimager package manually, casarest should replace it but I forgot to add that rule.

[2015-09-02 12:22] IanHeywood commented on #866
Works! Thanks.

[2015-09-02 12:22] #866 closed

[2015-09-02 12:25] IanHeywood opened #867 "Building dependencies as per meqtrees.net instructions fails: Ubuntu 14.04.3"
Another one for the collection:

[code]

[2015-09-02 12:29] gijzelaerr commented on #867
hm, one of the packages you install depends on casacore 1.7, which conflicts with casarest.

can you try to install the packages one by one and see which one depends on casacore 1.7? I thought I updated all packages, but something went wrong there.

[2015-09-02 12:48] IanHeywood commented on #867
Looks like

[code]

is the offender.

Cheers.

[2015-09-02 12:55] gijzelaerr commented on #867
can't replicate the problem.

what is the content of `/etc/apt/sources.list.d/radio-astro-main-trusty.list` and did you do a `apt-get update` before the build-dep command?

[2015-09-02 12:59] IanHeywood commented on #867
I did an apt-get as part of the Launchpad preparations.

[code]

[2015-09-02 13:01] gijzelaerr commented on #867
uncomment the commented line or do `sudo add-apt-repository -s ppa:radio-astro/main`, update and try again.

you forgot to add the -s flag, which adds the PPA as a source repo. Is that not in the documentation?

[2015-09-02 13:02] gijzelaerr commented on #867
also, it looks like you still have the old ska-sa repo enabed, please remove that from your `/etc/apt/sources.list.d` folder.

[2015-09-02 13:09] IanHeywood commented on #867
Uncommenting the line has fixed it.

The -s flag is in the documentation for the "build from source" section but not in the "install binaries" section, which might have caused the trouble. Also, the old ska-sa repro is the one that is pointed to in the "build from source" instructions so that might need changing.

I guess the lack of a -s flag in the binaries section (unless it should be there) co

[2015-09-02 13:15] IanHeywood commented on #867
A new problem at the next step:

[code]

[2015-09-02 13:17] gijzelaerr commented on #867
Can you update the doc or give a link so i can modify.

you are installing the development files for casacore 1.7 (`libcasacore-dev`) which is there for historical reasons, I suggest you install `libcasacore2-dev`

[2015-09-02 13:21] IanHeywood commented on #867
Thanks, libcasacore2-dev has installed successfully.

The binary documentation that may or may not need the -s flag is here:

(https://github.com/ska-sa/meqtrees/wiki/UbuntuPackages)[https://github.com/ska-sa/meqtrees/wiki/UbuntuPackages]

and the build from source documentation that has the old ska-sa repository and the historical libcasacore-dev item is here:

(https://github.com/ska-sa/meqtrees

[2015-09-02 13:25] gijzelaerr commented on #867
those are both the same link

[2015-09-02 13:26] gijzelaerr commented on #867
found and fixed

[2015-09-02 13:26] #867 closed

[2015-09-02 13:27] IanHeywood commented on #867
I obviously haven't mastered markdown either. I going to blame the fact that I'm having to use Ctrl+C, Shift+Ctrl+C and Cmd+C for copying depending on what window I'm in.

Cheers.

[2015-09-02 13:45] IanHeywood opened #868 "Error building from source, looks blitz related: Ubuntu 14.04.3"
Up to the 'Building the software' section on [this page](https://github.com/ska-sa/meqtrees/wiki/BuildFromSource). Brace yourselves...

[code]

[2015-09-02 13:54] o-smirnov commented on #868
Could you do a ``dpkg -la | grep blitz`` for me please? This is the same problem as https://github.com/ska-sa/meqtrees-timba/issues/18.

[2015-09-02 13:57] o-smirnov commented on #868
Should look like this BTW:
[code]
...but there was a 0.11 package floating around the repos that's actually an **older** blitz which would cause the above error.

[2015-09-02 13:57] IanHeywood commented on #868
``
ianh@nerv:~/meqtrees/meqtrees-timba/build/release$ dpkg -la | grep blitz
ii  libblitz0-dev                                         1:0.11-1trusty                                      amd64        C++ template class library for scientific computing
ii  libblitz0ldbl                                         1:0.11-1trusty                                      amd64        C++ template class library

[2015-09-02 13:59] o-smirnov commented on #868
Yep that's the culprit. Purge it, then ``apt-get install libblitz0-dev``. You need the bog-standard Ubuntu trusty 1:0.10 version.

But before you do, can you try ``$ apt-show-versions -a libblitz0-dev``? I'd like to figure out where this 1:0.11 package got installed from. We need to find it and repress it...

[2015-09-02 14:02] IanHeywood commented on #868
[code]

So I can apt-get remove plus the package names that dpkg returned?

[2015-09-02 14:02] gijzelaerr commented on #868
I think this is an old system and got it from ska-sa ppa when it was still
available there.

I removed all packages from ska-sa ppa just to be sure.
Op 2 sep. 2015 3:00 PM schreef "Oleg Smirnov" <notifications@github.com>:

[2015-09-02 14:10] o-smirnov commented on #868
You should apt-get remove the blitz packages, then apt-get update just to be sure, then apt-get install libblitz0-dev. Check the output to make sure that 1:0.10 is being installed not 1:0.11. If it still gets 1:0.11 somewhere, then @gijzelaerr needs to do some more scouring of the repos...

[2015-09-02 14:19] IanHeywood commented on #868
OK it's installed 1:0.10 across the board from your method. Rebuilding now...

Thanks.

[2015-09-02 14:32] o-smirnov commented on #868
Let us hope 1:0.11 has been properly Stalinized from all repositories.

[2015-09-02 14:32] #868 closed

[2015-09-02 14:40] IanHeywood commented on #868
Can confirm that this works. I've also edited the suggested .bashrc items on the building from source page which didn't reflect current paths.

[2015-09-02 14:44] o-smirnov commented on #868
Excellent, thanks!

On Wed, Sep 2, 2015 at 4:40 PM, IanHeywood <notifications@github.com> wrote:

[2015-09-02 14:44] IanHeywood commented on #868
Likewise! Cheers.

[2015-09-02 19:04] twillis449 commented on #868
I recently went through the exercise of building casacore. casarest, lwimager, and wsclean on the Cambridge supercomputer.  Only took about 4 days of headbanging to get things right. The final joke of course was that using a supercomputer doesn't help that much because of remote disk I/O issues with CASA measurement sets. A wsclean that took about 1.5 hours on my laptop timed out after 5 hours wal

[2015-09-02 19:45] razman786 commented on #868
Apologies for the slightly off topic message. I’ve been compiling the same stack recently and had similar issues. But seriously this email MADE MY DAY!!! ROTFL!!!

[2015-09-22 00:55] IanHeywood opened #869 "turbo-sim.py: noise from SEFD and sqrt(2)"
[code]

Unless I'm mistaken then the 2 inside the math.sqrt is for two polarizations. Since the noise is cast later as an additive 2x2 matrix I think the resulting image noise will be a factor of sqrt(2) lower than it should be.

[2015-11-04 03:21] IanHeywood opened #870 "Oversubtraction when using only differential gains (calico-stefcal.py)"
**Scenario:**

Processing a VLA (B config) Measurement Set that has the selfcal hard-applied. Intention is to tidy up the junk around some off-centre sources.

**Approach:**

Image the MS, make a sky model, apply "dE" tags to problem sources. Use calico-stefcal with "solve for G" disabled, and "solve for dE" enabled with the source subset set to "=dE". Rationale here is that the usual

Vpq = Gp [

[2015-11-04 04:31] twillis449 commented on #870
I don't have any advice, but I'm glad to see you're working on this sort of stuff. I need a training session from you next week, :), to get up to speed on stefcal / modelling / solving / applying corrections etc for my baseline dependent averaging etc.  I'm super rusty. Just got the LIONS ionosphere modeling to generate what looks like reasonable ionosphere jitter over the SKA-mid array.  BTW - br

[2015-11-04 11:22] IanHeywood commented on #870
Thanks Tony. Looking forward to catching up with you next week. Not sure I have any woollies, I think surrendering them was a condition for obtaining my Australian visa.

[2015-11-05 11:24] IanHeywood commented on #870
Here's the output from a dE-only Stefcal run on my laptop, just solving for a single direction.

[code]

[2015-11-05 14:16] o-smirnov commented on #870
So what happens if you enable solving for G as well? I've never run it in a mode like that before (dE only) so there may be some bug lurking in how the visibilities are handled...

In any case solving for G (with a large interval) can't hurt, and often helps...

[2015-11-06 00:07] IanHeywood commented on #870
Solving for G and a single dE term, one solution for the entire time range, for a single spectral window...

G solutions look lower than I'd expect. The calibration on the data to begin with is as far as I'm aware decent, so I'd expect them to hover around 1, given that if I just simulate visibilities from the model and subtract them without solving for anything I get decent residuals.

![](http:/

[2015-11-11 00:43] IanHeywood commented on #869
Fixed. Put it back if Tony and I are wrong!

[2015-11-11 00:43] #869 closed

[2015-12-10 09:38] aragorn2101 commented on #860
I have numpy 1.9.1, and yes, the meqtrees-timba build says that it is ignoring numeric and numarray, but it found numpy, so it is going to use numpy. However, when I tried to run meqbrowser, the software says that it needs numpy or numarray in order to work. So, unfortunately, it is unusable. I am reverting to a 'legacy' numpy 1.8.2.

[2015-12-10 09:41] o-smirnov commented on #860
Yeah the problem is not the timba build per se -- the problem is that the PyQwt5 library internally checks for numpy.oldnumeric and bombs out if it is not found. So basically PyQwt5 is not compatible with numpy 1.9, and since the former is no longer maintained, the chances of a fix are slim. This breaks anything dependent on PyQwt5, meqbrowser included. Maybe @gijzelaerr can make a super-special f

[2015-12-10 11:39] gijzelaerr commented on #860
sorry but no, shipping a custom pyqwt5 package in our repo is going to become a nightmare.

If PyQwt5 is not maintained anymore, why not fork it, fix the problem and make a release? That is something I will package.

[2015-12-10 14:20] twillis449 commented on #860
If you build PyQwt from source, the PyQwt configure.py script can be fed the options --disable-numarray and --disable-numeric which should disable detection and use of numeric and numarray.

[2015-12-10 14:24] o-smirnov commented on #860
Can fork, sure -- but the "fork" will essentially consist of a tiny change to the default build options (as Tony points out), so is it even a fork then?

[2015-12-10 14:31] twillis449 commented on #860
@aragorn2101 could you try building PyQwt from source with numpy 1.9 and see if the problem disappears?

[2015-12-10 14:31] gijzelaerr commented on #860
hm in that case, the best solution is to report it @ debian packaging here:

https://bugs.debian.org/cgi-bin/pkgreport.cgi?pkg=python-qwt5-qt4;dist=unstable

if they accept it, I can backport the package to our PPA.

2015-12-10 16:20 GMT+02:00 Tony Willis <notifications@github.com>:

--
Gijs Molenaar
http://pythonic.nl

[2015-12-10 15:47] twillis449 commented on #860
OK - so I installed numpy 10.1 and compiled PyQwt 5 with the flags I mentioned earlier set. PyQwt 5 then works. NOTE: Some of the examples wiil fail because they call a script, anynumpy.py which immediately has a test 'from numpy.oldnumeric.compat import *', which of course crashes. Replacing this file with the code

from numpy  import *
Float = float

will get usually get things working.

[2016-02-16 08:13] jfunction commented on #863
Hello, I'm wondering if there is any progress on this? I am having the same issue.

The output of dmesg shows that the offending library is likely ``libcasa_synthesis.so`` as in:

[code]

[2016-02-16 08:18] gijzelaerr commented on #863
what version are you using?

[2016-02-16 08:20] gijzelaerr commented on #863
I can start `meqbrowser.py` on jake and with that a meqserver without segfault.

cattery 1.4.0
timba 1.5.0

[2016-02-16 08:23] jfunction commented on #863
Does this help?
[code]
I just installed ``meqtrees`` from the PPA on 14.04

[2016-02-16 08:26] jfunction commented on #863
If I try install ``casarest`` it wants to remove ``libcasacore-dev`` and ``lwimager``
Also, I don't have ``meqtrees-timba`` - it wants to install ``casarest`` for that.

Should I try installing these?

[2016-02-16 08:28] gijzelaerr commented on #863
meqtrees-timba is the actual browser. How do you install the browser?

casarest should replace lwimager. libcasacore-dev is depricated (by libcasacore2-dev).

[2016-02-16 08:40] jfunction commented on #863
I can't remember how I installed it initially, but I installed `meqtrees-timba` now and am getting a new error:

[code]

[2016-02-16 08:46] gijzelaerr commented on #863
what is the md5sum of your meqserver binary

[code]

[2016-02-16 08:48] jfunction commented on #863
It seems to be the same as yours:

[code]

[2016-02-16 08:52] gijzelaerr commented on #863
`_ZN9MeqPython11use_memprofE` should be defined in `/usr/lib/libmeqserver.so`. Do you have a `libmeqserver.so` in `/usr/local`? Or are you fiddeling with your `LD_LIBRARY_PATH`?

[2016-02-16 08:59] jfunction commented on #863
Ah, so that symbol is not defined in my `/usr/lib/libmeqserver.so`. I guess then that this is the wrong hash:

[code]

I don't have any other files called `libmeqserver.so` lying around and I'm not sure how to check my `LD_LIBRARY_PATH`. It's not an live environment variable in my shell. I'm using `zsh`, I don't think that's the problem though because the issue persists if I switch to `bash`.

[2016-02-16 09:01] gijzelaerr commented on #863
`/usr/lib/libmeqserver.so` should be in the `libmeqtrees-timba0` package, which is currently at version 1.5.0.

[2016-02-16 09:04] jfunction commented on #863
Installing the above package seems to fix the problem for me. Thanks Gijs!

[2016-02-16 09:12] gijzelaerr commented on #863
how did that file get there? You should **never** install software manually in `/usr` except for `/usr/local`.

if you are using my packages and manually compile/install stuff make sure what you are doing because otherwise you are just wasting my time.

[2016-02-16 09:28] jfunction commented on #863
I'm can't be sure what I had done. I think I did install casapy manually into an optsoft folder in my home directory.

My apologies if this issue was a result of a manual install.

[2016-03-01 16:29] twillis449 opened #871 "LIONS Documentation"
The report by Ilse van Bemmel and Maaijke Mevius that describes the LIONS ionosphere simulation system that is part of MeqTrees
[vBemmel_iono_sim.pdf](https://github.com/ska-sa/meqtrees/files/153125/vBemmel_iono_sim.pdf)

[2016-03-01 16:55] twillis449 commented on #871
And here is another paper.
[vBemmel_lions-1.pdf](https://github.com/ska-sa/meqtrees/files/153171/vBemmel_lions-1.pdf)

[2016-03-01 16:56] #871 closed, assigned to nobody

[2016-03-14 10:04] o-smirnov commented on #860
@gijzelaerr: could you please complain to Debian appropriately? According to https://github.com/ska-sa/meqtrees/issues/860#issuecomment-163633002, all that needs to be done is a rebuild of PyQwt5 with `--disable-numarray` and `--disable-numeric`.

As things stand, since numpy has dropped support for numarray/numeric as of 1.9, the standard PyQwt5 package is no longer compatible with it.

[2016-04-11 13:54] gijzelaerr commented on #860
OK I have tried the disable flags, and the packages compile. I have reported it upstream at Debian and Ubuntu:

https://bugs.launchpad.net/ubuntu/+source/pyqwt5/+bug/1568872

https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=820696

Lets see what happens. If this is not going to work in the end, I will make a new package. Good news, although pyqwt5 is abandoned, it is still included in Ubuntu 16.0

[2016-04-14 10:36] gijzelaerr commented on #860
i've made an experimental package including the disable flag. Please test if that works.

https://launchpad.net/~radio-astro/+archive/ubuntu/numpyfix/

If it works, I'll try to get it into Debian / Ubuntu.

[2016-04-14 14:38] twillis449 commented on #860
I believe that ubuntu 16.04 LTS is due to be released next week (April 21). I have some other stuff that I need to check works with ubuntu 16.04 and I will test the updated PyQwt package along with other MeqTrees stuff at that time.

[2016-04-15 06:00] gijzelaerr commented on #860
We will switch to 16.04 in the long run, but that is unrelated to this
issue.
Op 14 apr. 2016 4:38 p.m. schreef "Tony Willis" notifications@github.com:

[2016-04-15 17:17] twillis449 commented on #860
I found another machine to test this on. The sequence of commands to install etc works. However one bug has crept in: There's a file 'anynumpy.py' that ends up installed in /usr/lib/python2.7/dist-packages/PyQt4/Qwt5/anynumpy.py which currently has line 9 as 'from numpy.oldnumeric.compat import *'  This actually introduces the bug in numpy v 1.9 and later which we are trying to get rid of!
Replace

[2016-04-16 08:19] gijzelaerr commented on #860
So the disable flags are not required?
Op 15 apr. 2016 7:17 p.m. schreef "Tony Willis" notifications@github.com:

[2016-04-16 16:31] twillis449 commented on #860
If one builds PyQwt from source and numarray and numeric are NOT installed, then the build figures that out and will ignore them. If you happen to have numarray or numeric installed and you want to have the build ignore them, then you need to set those disable flags.

[2016-04-18 08:18] gijzelaerr commented on #860
OK, so for the packaging actually we _don't_ have to set the disable flags,but we only need to replace the `anynumpy.py` file?

[2016-04-18 16:07] twillis449 commented on #860
That would appear to be the case. On my test system (XUbuntu 14.04) with numpy 1.10 I got PyQwt compiled and working from source without having to specifically set the disable flags during the configure step.

[2016-04-22 16:01] twillis449 commented on #860
FYI - I also got PyQwt 5.2 compiled and running under Ubuntu 16.04

[2016-06-29 10:47] IanHeywood opened #872 "calico-stefcal.py: dimensions of tensor child do not match when using LSM with all-dE sources"
Any idea what might cause this error?

[code]

I'm using a VLA MS which has thus far behaved as expected. Trying to read in a pre-computed model from the MODEL_DATA column, and solve for dEs on a two-component LSM.

![](http://i.imgur.com/aip42im.jpg)

[2016-06-29 10:50] o-smirnov commented on #872
Yeah I've seen this happen with degenerate LSMs (ones with no time/freq axis), the internal optimizer collapses these axes and gets into trouble.

Simplest workaround is to include an LSM containing a single source of 1e-999 flux, with a spectral index.

[2016-06-29 10:56] IanHeywood commented on #872
Thanks chief I'll give it a go.

[2016-07-01 00:16] IanHeywood commented on #872
Problem persists having added this to the LSM:

![](http://i.imgur.com/5hoTCdE.jpg)

I thought it might be ignoring the sources since 1e-999 gets rounded down to zero, but even 1e-9 makes no difference.

[2016-07-01 13:25] o-smirnov commented on #872
Weird. Could you please publish the results of the DT and MT nodes, and open them up to look at dimensions of the vellsets within?

[2016-07-02 03:30] IanHeywood commented on #872
Trying to publish things seems to be killing the meqserver, so I can't see any results propagating into the cache section. The dimensions of MT and DT in the request all appear to be the same.

[2016-07-02 03:39] IanHeywood commented on #872
calico-wsrt-tens.py is as usual happy to chew this problem slowly.

[2016-07-02 10:56] o-smirnov commented on #872
Hmmm, anywhere I can look at it live?

The MODEL_DATA column, it's got 4 correlations as usual?

Last thing to try, give Q=1e-99 to the dummy source. In fact I should have
suggested from the beginning...

On Sat, Jul 2, 2016 at 5:39 AM, IanHeywood notifications@github.com wrote:

[2016-07-02 23:48] IanHeywood commented on #872
MODEL_DATA is the same shape as DATA and CORRECTED. It's just the output written by wsclean.

Added Q value but problem persists. Problem goes away if I only solve for G and disable dE.

I'll try to recreate it on a Rhodes machine. I won't be able to use the browser to test it but you might be able to from there.

Cheers.

[2016-07-06 13:17] gijzelaerr commented on #860
i'm working together with a debian maintainer to resolve this issue. We have created experimental packages that should solve these issues. We made them for trusty and xenial. @twillis449 can you try one of these and see if it solves the issue? you can find the packages here:

https://launchpad.net/~radio-astro/+archive/ubuntu/numpyfix

[2016-07-07 14:43] twillis449 commented on #860
I'm at the SKA SDP meeting in Malta this week. I probably can't have a look at this stuff until next week sometime.

[2016-07-08 07:48] gijzelaerr commented on #860
ok sure. Let me know as soon you have tested, then we try to get this fixed
upstream at debian once and for all.

2016-07-07 16:43 GMT+02:00 Tony Willis notifications@github.com:

##

Gijs Molenaar
http://pythonic.nl

[2016-07-10 04:26] IanHeywood commented on #872
On Elwood:

[code]

should reproduce the error.

I scp'd the MS from my local machine, and weirdly enough I had to apply the fix in [meqtrees-cattery issue 34](https://github.com/ska-sa/meqtrees-cattery/issues/34) as the script threw the

[code]

which it wasn't doing on my local run. I've used ms.copycol to overwrite the DATA with the CORRECTED_DATA column prior to trying the stefcal run, but I w

[2016-07-12 12:10] o-smirnov commented on #872
OK I see the issue. Workaround is to set "Apply diffgain to selected sources" and "Sources: =dE". Or in the conf file:

[code]

You had the subset set to "all", which caused it to treat the DUMMY source as one with a dE on it too, thus making for an empty set of sources **without** a dE. Due to a bug in `calico-stefcal.py`, it does not fail gracefully in this situation.

[2016-07-13 04:50] IanHeywood commented on #872
It's running now, thanks!

Nice of you to fabricate a bug at the end there to make it look like it wasn't entirely user-error.

[2016-07-13 08:47] o-smirnov commented on #872
But it is a bug. User errors should result in at least mildly comprehensible error messages, which this one patently isn't... not sure I'll ever get around to fixing it since a workaround exists, but at least I'm keeping it filed as a bug.

[2016-07-15 14:35] o-smirnov opened #873 "calico-stefcal error with completely unpolarized LSM"
As reported by @SpheMakh:

[code]

[2016-07-15 14:37] o-smirnov commented on #873
Fixed by https://github.com/ska-sa/meqtrees-cattery/commit/7aea811850ff4cfae7b3b917ee4c373f96069da5

Also, rather use the GainDiag implementation if everything is completely unpolarized.

[2016-07-15 14:37] #873 closed, assigned to o-smirnov

[2016-07-28 09:48] IanHeywood commented on #872
OK, just to make life interesting... looping over SPWs using the same Tigger LSM + contents of MODEL_DATA to calibrate against:

[code]

WTF...?

[2016-07-28 09:51] o-smirnov commented on #872
Deja vu... can has upload please?

[2016-07-29 02:23] IanHeywood commented on #872
On Elwood:

[code]

This will try to calibrate the SPWs for the first block of scans sequentially, and will fail when it gets to SPW 3 (DATA_DESC_ID==3). If you edit the script so `dryrun = True` then run it the terminal output should show you the steps it takes without actually running anything.

For the SPWs that run successfully it grumbles about diverging chi^2 values, but I haven't optimised

[2016-07-29 04:37] IanHeywood commented on #872
Having told it to skip SPW3 I note that it also fails on SPW14.

[2016-08-02 16:25] twillis449 commented on #860
@gijzelaerr  Apologies for the delayed response about PyQwt. I had a lot of distractions in July. I downloaded and installed on a Ubuntu 16.04 machine as per your instructions above and things seem to install OK. Most of the PyQwt examples supplied with the original PyQwt 5.0 source code package seem to work. A few don't but it looks like those that fail have programming bugs.

[2016-08-02 17:24] gijzelaerr commented on #860
ok cool, thanks for testing. what about meqbrowser?

[2016-08-02 18:31] twillis449 commented on #860
Next thing to test :)

My tests with the PyQwt examples show that a few of the lower level numpy functions or parameters seem to have been changed / deleted with the default numpy supplied with ubuntu 16.04, so I wouldn't be surprised if there are some other possibilities for failure in MeqTrees land not only directly related to the browser but also some of the other python code that it pulls in.

[2016-08-02 22:26] twillis449 commented on #860
It would appear that basic stuff (start up, then run calico-viewMS with inspector visualization ) seems to work OK). I'll try running something which generates images - will have to copy over some FPA stuff first.

[2016-08-02 22:32] twillis449 commented on #860
NOTE: Since i would appear to have a somewhat masochistic nature I build MeqTrees from source using the 'newbies' approach given at https://github.com/ska-sa/meqtrees/wiki/BuildFromSource

[2016-08-04 08:05] gijzelaerr commented on #860
ok well let me know when you would declare this a working fix for Meqtrees, then we close this issue and we make sure this ends up into Debian as a fix.

[2016-08-04 16:46] twillis449 opened #874 "browser windows display annoyance"
OK- so I'm testing Meqtrees on both ubuntu 14.04 and 16.04 to test numpy behaviour.  I managed to get a simple script where I pop up four image windows showing test beams to work. This lap top has an intrinsic display of 1600 x 900 pixels.  The bottom two windows are only half displayed.

![browser_screen_shot](https://cloud.githubusercontent.com/assets/6174767/17410291/d8447c84-5a27-11e6-88ce-2d8

[2016-08-08 12:35] o-smirnov commented on #874
This is your code, right? It could be that the default size policies of the Qwt plot widgets have changed.

The way the widget layout managers work, they interrogate the widgets about what their minimal size is, and allocate space accordingly.  If the widget says "I can't be squeezed to less than Y pixels in height", then it gets Y pixels no matter what. This is determined by size policy settings:

[2016-08-08 14:00] twillis449 commented on #874
So what happens when you 'float' a window? When I do that the 'default' size of the pop-up display shrinks quite a bit as the image below shows. I would have thought that according to your argument above that the size should not change.
![floated_window](https://cloud.githubusercontent.com/assets/6174767/17482251/c14ea340-5d35-11e6-9921-1e7f101e0709.png)

[2016-08-08 14:06] o-smirnov commented on #874
True, this shows that the plot widget allows itself to be smaller... hmmm, not sure what's going on now!

[2016-08-15 09:45] sjperkins commented on #860
Using the supplied `numpyfix` package I am able to run meqbrowser. However, popup menu widgets don't seem to work properly -- the cursor must be offset above menu items in order to select them.

Edit: I performed this test on Xenial 16.04.

[2016-08-15 11:41] gijzelaerr commented on #860
Do you think this is related to numpy? Otherwise we should merge the patch,
close this issue and move forward.

2016-08-15 11:45 GMT+02:00 Simon Perkins notifications@github.com:

##

Gijs Molenaar
http://pythonic.nl

[2016-08-15 12:29] twillis449 commented on #860
I haven't noticed this problem. I will have a look. However I have noticed that there are a couple of numpy changes which affect some 2-D image plots. I haven't had time to figure out what the solution is.

[2016-08-15 12:45] gijzelaerr commented on #860
OK, well, it looks like the numerical issues are resolved, I think we should proceed with trying to upload the fixed numpy package to Debian.

[2016-08-15 13:07] olebole commented on #860
Actually, what is fixed is not **numpy**, but **pyqwt5** (right?).
What I could do is to do an "NMU" (non-maintainer upload) for this package with the fix. This will, however take some time since I want to give the maintainer then some time (usually 5-10 days) to fix it himself.
And I am currently on holidays, so my time to work on this is limited, weather dependent and affected by spontaneous cha

[2016-08-15 13:34] gijzelaerr commented on #860
ok sure, thanks! Enjoy your holiday

[2016-08-15 17:28] twillis449 commented on #860
I just did some tests with the meqbrowser on Ubuntu 16.04 and I don't have any problems with cursor/mouse offsets relative to popup menu items.

[2016-08-18 10:55] gijzelaerr commented on #860
[code]

[2016-08-23 20:51] twillis449 opened #875 "'trunk' problem (or maybe not - I dunno)"
It looks like there are obscure references to 'trunk' in a few places in the current code. I have a suspicion that may be the reason I seem to need 'trunk' in the path to meqtrees executables.  Isn't trunk a left-over reference to 'svn' or something?

[twillis-HP-EliteBook-8570w 1:46pm] [meqtrees-timba]> tgrep trunk .
./autoconf_share/cvs2cl.pl:          # Special case for following trunk revision

[2016-08-23 20:59] twillis449 commented on #860
@gijzelaerr I just did a fresh install of Ubuntu 16.04 from scratch to get rid of a lot of dead wood.  It's good that you made that repository version of PyQwt. It would appear that by default Qt4 source code is not supplied (or anyway It doesn't seem to be there in the synaptic package manager) for ubuntu 16.04 and I would have had to go through a laborious install of the Qt4 source code from scr

[2016-08-24 08:58] gijzelaerr commented on #860
Do you mean you could not find the binary package? To me it looks like it is part of 16.04:

http://packages.ubuntu.com/search?keywords=python-qwt&searchon=names&suite=xenial&section=all

[2016-08-24 11:25] o-smirnov commented on #875
It is a leftover from svn, but all these references are from old build scripts which have been retired (as well as a largely meaningless print statement). So none of these should be causing your problem. I'm surprised you need "trunk" in path, we certainly don't -- could you elaborate please?

[2016-08-24 12:35] twillis449 commented on #860
Sorry - my bad. I did a search in synaptic for 'PyQwt' and nothing appeared. However I just did a search for 'qwt' and there is is!

[2016-08-24 12:51] twillis449 commented on #875
Somewhere deep deep  in my system there is something that wants 'trunk' in the path in order to start the meqserver.  I'll continue to hunt. For the moment I got things to work by just adding a 'trunk' softlink into the system. Anyway, It sounds like its my problem and not yours so I'll close this issue.

[2016-08-24 12:51] #875 closed, assigned to nobody

[2016-08-24 13:51] gijzelaerr commented on #860
ok so for now use the repository, until the updated qwt package lands in Debian and then Ubuntu. Not sure if it end up in 16.04, probably not. Probably wise to upload the modifed qwt package into our PPA. @olebole what do you think? I don't really like overriding packages from debian/ubuntu.

[2016-08-24 14:13] twillis449 commented on #860
Yes - it appears that the 'standard' ubuntu 16.04 synaptic database refers to a version of PyQwt from 2009/11/07 whereas when I add the astron repository to the database I'm getting the latest version. Sorry for my confusion - I have too many versions of MeqTrees running on too many computers!

[2016-08-24 19:55] olebole commented on #860
In Debian, pyqwt5 [just migrated](https://tracker.debian.org/news/792894) to testing, which [fixes](https://tracker.debian.org/media/packages/p/pyqwt5/changelog-5.2.1~cvs20091107%2Bdfsg-8) the incompatibility. For Ubuntu-16.04, a separate upload of the fix to Ubuntu would be needed, however.

[2016-09-04 18:30] twillis449 commented on #860
It looks like the author of the python-guiqwt package has also re-written the entire lower level PyQwt package in pure python as PythonQwt (see https://github.com/PierreRaybaut/PythonQwt).  The docs suggest that some of the lower level API calls may have been changed a bit. Anyway - something to keep an eye on for future reference. I shall try using PythonQwt and see how much work is involved in s

[2016-09-04 18:30] #860 closed

[2017-03-08 18:32] twillis449 commented on #850
I think the display issue is related to the one I complain about here:
https://github.com/ska-sa/meqtrees/issues/874

[2017-03-08 20:07] twillis449 opened #876 "What is the ibus daemon?"
I (suddenly ?) seem to get the following messages when I start up the meqbrowser.  They can't be that critical since the browser and the meqserver seem to start up and talk to each other OK.

[twillis-HP-EliteBook-8570w 12:01pm] [ASKAP_beams]> IBusInputContext::createInputContext: no connection to ibus-daemon Bus::open: Can not get ibus-daemon's address.
Unmatched '.
[twillis-HP-EliteBook-8570w 12

[2017-07-18 19:45] twillis449 opened #877 "AzEl issue"
As Oleg points out, Wim Brouw is infallible but that doesn't prevent the rest of us from going astray. I've concluded that the AzEl and AzElRaDec nodes in MeqTrees, while correct as they stand, do not provide the right AzEl for the working astronomer. Wim's 'default' AzEl ( MDirection::AZEL) gives the AzEl of a radio source as seen from the centre of the Earth using the geocentric latitude. This i

[2017-07-18 19:50] twillis449 commented on #877
PS I'd do this myself, but I remember that there's some obscure 'special' incantations necessary when adding nodes.  An alternative would be to just update the existing nodes with the changes mentioned above. I don't see any practical use for nodes giving geocentric Az and El.

[2017-07-18 20:27] twillis449 commented on #877
BTW on the (really old) astron wiiki there used to be a page that contained small test scripts for most MeqTrees nodes. Is this page still hidden in some alternative universe where it can be accessed in some way?

[2017-07-19 10:45] o-smirnov commented on #877
Ahhh, well spotted Tony. The sacred tools must be wielded well or they can give incorrect results. I had completely overlooked this -- in fact the intention of MeqAzEl was to give the geodetic az/el. So I wonder if we shouldn't just change MeqAzEl itself (or perhaps provide an option in the init state that selects geodetic versus geocentric)?

Do you have a feeling for how large the difference can

[2017-07-19 12:46] sjperkins commented on #877
Supporting argument. @bmerry changed AZEL to AZELGEO when comparing meqtrees and astropy parallactic angles. To get them to agree more closely I think.

[2017-07-19 14:37] twillis449 commented on #877
The differences can be up to 12 arcmin or so, and depends on latitude and peaks at about +/-49 deg (guess what the latitude of the DRAO telescope is?) which is why I started to notice the problem - we were comparing CASA Measures output vs astropy vs JPL HORIZON vs PyEphem for the Sun. And yes, it affects parallactic angle. There the problem is that MeqParAngle calls the CASA ParAngleMachine (@tam

[2017-07-19 16:45] twillis449 commented on #877
Here's a plot of the difference in geocentric and geodetic latitude (0 at the poles and equator - peak at somewhere close to 49 deg)
![latitude_diff](https://user-images.githubusercontent.com/6174767/28378997-02b76a7e-6c67-11e7-8a08-b66343d43522.png)

[2017-07-20 13:47] twillis449 commented on #877
@o-smirnov Of course the parallactic angle difference at transit is zero, but increases as hour angle increases. (Further investigation shows that the above statement is not necessarily true - see the output from my next message).

Here's the output of a run I did for 3C286 as seen from DRAO over a 24 hr period

astropy 3C286 J2000 position  RA 13h31m8.287896s  Dec = 30d30m32.958s
starting 3C286 t

[2017-07-24 22:18] twillis449 commented on #877
When I make the same run at the VLA site (latitude ~ 34 deg) on the same day I get (just for hour angles in the range -90 deg to 90 deg) I get:

astropy 3C286 J2000 position  RA 13h31m8.287896s  Dec = 30d30m32.958s
starting 3C286 test at 13jul2017 0 hrs
utc,ha(deg),el(deg),par_angle_diff(arcmin)
2017-07-13 00:00:00, -19.5346278106, 73.1084458029, 36.5865480434
2017-07-13 01:00:00, -4.49357856546,

[2017-10-20 21:20] twillis449 commented on #865
Holy crap this critical issue is still here after 2 years ?? My aged brain seems to recall that we encountered this error elsewhere and today I just tripped over it myself, when I did a fresh install of MeqTrees on a new machine. This error is coming from our now ancient PyQwt 5,2 package's anynumpy.py piece of code. Comment out line 8 to get this error to go away.
@o-smirnov  @gijzelaerr I think

[2017-12-07 13:58] bennahugo opened #878 "Meqtrees master no longer passes tests"
I think there has been a change somewhere. Master is failing.
[code]

[2017-12-07 13:59] bennahugo commented on #878
@o-smirnov looks like owlcat is missing from the dependencies?

[2017-12-07 14:00] bennahugo commented on #878
Last successful test: Nov 19, 2017 3:00 PM

[2017-12-11 15:47] o-smirnov commented on #878
@gijzelaerr have you changed the pip dependencies of ``meqtrees``? Looks like it no longer pulls in ``owlcat``, which makes the test fail.

[2017-12-11 15:50] bennahugo commented on #878
Exact steps to reproduce:
[code]
Output see: https://jenkins.meqtrees.net/job/meqtrees-cattery-cron/43/console

[2017-12-11 17:43] gijzelaerr commented on #878
nope: that file didn't change in a while:

https://github.com/ska-sa/meqtrees-cattery/commits/master/setup.py

maybe a dependency changed dependencies? But if meqtrees always depend on owlcat it should just be added ofcourse.

[2017-12-18 10:26] bennahugo commented on #878
Fixed with ska-sa/meqtrees-cattery#77

[2018-01-02 20:02] #878 closed, assigned to bennahugo

[2018-01-08 10:32] bennahugo opened #879 "Meqpipeliner hangs when connection is not established"
Meqtrees pipeliner hangs when the connection to meqserver cannot be established. This causes pipelines to hang indefinitely.

[code]

[2018-01-08 10:34] o-smirnov commented on #879
Can you point me at an easily reproducible case? I agree the pipeliner should bomb out with an error rather than hang, but the fact that it can't establish a connection in the first place is indicative of some other problem.

[2018-01-08 10:39] bennahugo commented on #879
It is running the stimela script:
https://jenkins.meqtrees.net/job/ddfacet-generate-refims/ws/stable/stimela-test-ngc417.py/*view*/
On this dataset:
https://jenkins.meqtrees.net/job/ddfacet-generate-refims/ws/stable/12A-405.sb7601493.eb10633016.56086.127048738424.tgz

It is sporadic though - it works most of the time.

[2018-03-06 21:39] engqasim2 opened #880 "Permission denied when i run setup.py install over Redhat"
when i tried to install Meqtrees over Redhat linux it keeps tell me permission denied

[2018-03-06 22:02] twillis449 commented on #880
Usually setup.py will try to install stuff by default in /usr/local, which is owned by root and not by you. That's the most obvious source of 'permission denied' messages. If you try to install into a directory owned by you (using something like 'python setup.py --prefix =/home/engqasim2/local' things may work. Ubuntu linux has the concept of 'sudo' which allows you  to temporarily become root if

[2018-03-06 22:07] engqasim2 commented on #880
I found out how to be root and install setup.py already . But what I will
type to run the Meqtrees

On Mar 7, 2018 12:03 AM, "Tony Willis" <notifications@github.com> wrote:

[2019-05-21 13:56] PhilippaHartley opened #881 "Time-varying pointing errors"
I would like to be able to add dynamic pointing errors per antenna. I'm currently attempting this using ListOfValues but I realised that only the set of pointing errors for the first integration are applied (and then repeated for subsequent integrations).

I’m looking through the source code to find out how to get the time-dependence in but it looks from the node structure that this is currently o

[2019-05-21 14:10] twillis449 commented on #848
I wrote code to fix this problem. Will have to find it.

[2019-05-21 14:15] twillis449 commented on #881
I wrote some code to simulate (and solve for) various pointing errors back around 2010. I'll try to find it. @o-smirnov  we seem to have ended up with  multiple subdirectories for meqtrees related issues,

[2019-05-21 16:04] PhilippaHartley commented on #881
@twillis449 That would be great, thank you!

[2019-05-21 22:18] twillis449 commented on #881
I found my code. Amazingly most of it still seems to run! I will put things into some kind of comprehensible package for you. May take a day or two.

[2019-05-22 07:53] PhilippaHartley commented on #881
That would be brilliant, thank you very much!

[2019-05-22 09:07] PhilippaHartley opened #882 "Printing out pointing errors"
Is there a way to inspect the pointing errors that get applied? Thanks

[2019-05-23 12:05] PhilippaHartley commented on #882
I can see the error using the bookmarks in the GUI, but I would like to be able to write them out.

[2019-05-23 12:15] o-smirnov commented on #882
I'm on the road right now, so I can't do a proper PR or anything.... but if you just want to write them out, you can hack the code yourself if you're feeling brave. It's really simple actually.

The errors are generated here. In fact I see we already have an option to dump them in the RandomPolc case: https://github.com/ska-sa/meqtrees-cattery/blob/master/Cattery/Siamese/OMS/ErrorGens.py#L174

If

[2019-05-23 12:22] PhilippaHartley commented on #882
Thanks Oleg! I saw the option in the Polc case but what I would like to do is print out the error for each integration; I think the file dump in ErrorGens only writes out the values passed to the .Parm object - similarly, in for example SineError, I can get the values of the amplitude and offset etc, but the values applied at each integration time-stamp do not seem to be accessible until the node

[2019-05-23 12:27] PhilippaHartley commented on #882
This is closely related to something else I was trying to do, which was to read in a list of random dynamic errors using ListOfValues. So I have n*m values of dlm, where n is number of antennae, and m is number of time-stamps. But LIstOfValues only passes in the values for the first timestamp. I've tried to access time-varying functionality by experimenting with SineError (which uses .Time()) and

[2019-05-23 12:40] o-smirnov commented on #882
Ah I see. I think you're pushing those old toy error generators beyond
where they were designed to go...

I think the easiest and cleanest solution is to make a custom error
generator using a PyNode. Then you'll have full control and flexibility.

Boarding now, I'll give more pointers when I get to a laptop. There's a few
PyNode examples scattered in Cattery if you want to try to work it out for
y

[2019-05-23 12:41] PhilippaHartley commented on #882
Nice, will have a look - thank you Oleg!

[2019-05-23 20:39] twillis449 commented on #881
The attached tar file contains various pointing scripts, 2 pdf files, and a README. I'm completely rusty on this stuff, but maybe you will find the scripts vaguely useful.

Tony

[pointing.tar.gz](https://github.com/ska-sa/meqtrees/files/3214070/pointing.tar.gz)

[2019-05-24 08:15] PhilippaHartley commented on #881
Thank you very much - greatly appreciated!

[2019-06-07 16:44] PhilippaHartley commented on #881
A quick update on this: I made a workaround by using the noise node GaussNoise(). The result is a set of pointing errors that are random in time and across antenne:

[code]

Thanks again for your help!

[2019-06-07 16:45] #881 closed, assigned to nobody

[2019-06-07 16:55] PhilippaHartley commented on #882
A quick update:

I made a workaround which writes out all the pointing errors. It uses the file ```Grid/__init__.py``` in the Timba package. The relevant code is

[code]

This will write write out a numpy array -- meqtrees_dlm.npy -- of pointing errors with the shape (2, mxn), where each column contains 2 pointing errors, dl and dm, and each row contains values ordered first by by timestamp m and

[2019-06-07 16:56] #882 closed, assigned to nobody

[2019-08-14 15:32] twillis449 commented on #876
figured this out :)

[2019-08-14 15:32] #876 closed, assigned to nobody

[2020-05-22 07:27] Athanaseus opened #883 "1.7.0 release package"
I just packaged the 1.7.0 release of `meqtrees-timba` & `meqtrees-cattery` for kern-6.
Now I'm testing the package, and I get the following output:

[code]

my tdlconfig.profile1 looks like:

[code]

This does not throw any errors but just stops. It's difficult to see what went wrong as it clearly didn't do what I requested.
- Any idea what I can do to run in debug mode? I thought -d [1-4] will do

[2020-05-22 07:44] o-smirnov commented on #883
Space missing before =...

Cheers,
Oleg

---
Sent from my phone. Quality of spelling inversely proportional to finger
size.

On Fri, 22 May 2020, 09:27 Athanaseus Javas Ramaila, <
notifications@github.com> wrote:

[2020-05-22 08:22] Athanaseus commented on #883
Thanks @o-smirnov, that worked.

[2020-05-22 08:22] #883 closed, assigned to nobody

[2020-06-28 07:22] Arnab-half-blood-prince opened #884 "MeQBrowser not opening"
I have installed MeqTree in Ubuntu 16.04. When I type meqbrowser.py in the terminal it shows me error : No module named Timba.utils
The numpy version is 1.16.0

[2020-06-28 07:59] bennahugo commented on #884
We need more information to resolve your issue. Can you please paste your environment variables here and are you installing this from KERN-3? Note the version you are installing is old since we no longer support debian packages for 16.04, it might be better to install meqtrees from source (see Dockerfiles on the procedure that needs to be followed).

[2020-06-28 11:21] Arnab-half-blood-prince commented on #884
I follow this to install :
https://github.com/ska-sa/meqtrees/wiki/UbuntuPackages
Do you want the whole output of printenv command?
I will try with docker now.

[2020-06-28 11:45] bennahugo commented on #884
Yes please. It is most likely you are either trying to run this inside a
virtual / conda environment or your path variables are somehow screwed up.

You should run the package in a clean shell environment without further
modification of the pythonpath, etc. if you are installing the ubuntu ppa
packages.

Kind regards,

On Sun, Jun 28, 2020 at 1:21 PM Arnab Chakraborty <notifications@github.com>
wr

[2020-06-28 18:34] twillis449 commented on #884
Unfortunately the web page you reference does not tell you anything about setting path variables for MeqTrees.  There is some discussion of that issue near the bottom of https://github.com/ska-sa/meqtrees/wiki/BuildFromSource. Note that I would avoid actually building from source if at all possible unless you have at truly masochistic streak within yourself :)

[2020-06-28 19:30] bennahugo commented on #884
If installing from the PPA the path variables should not be set. To be
clear. So in all likelyhood the error is in the environment setup for your
machine.

On Sun, 28 Jun 2020, 20:34 Tony Willis, <notifications@github.com> wrote:

[2020-06-29 08:41] Arnab-half-blood-prince commented on #884
Hi, this is the output of printenv command.

AIPSHTML=/home/arnab/SPAM/AIPS/TEXT/HTML
XDG_SESSION_ID=515
CVXMEM=/home/arnab/SPAM/AIPS/31DEC13/LNX64/MEMORY
SYSLOCAL=/home/arnab/SPAM/AIPS/31DEC13/LNX64/SYSTEM/IITI
BATCH_OUT=/dev/console
FLAGCAL_DIR=/usr/local/FLAGCAL
LIBRDBG=/home/arnab/SPAM/AIPS/31DEC13/LNX64/LIBRDBG
HOST=ASTRO-PRECISION-TOWER-7810
TERM=xterm-256color
SHELL=/bin/bash
OLD=/home/arna

[2021-11-13 19:14] bennahugo opened #885 "upgrade pip"
[code]

[2021-11-13 19:15] bennahugo commented on #885
The above is now being generated for the entire MT suite. Looks like pypi has again broken their interface to download binaries. Will address this as part of the porting job to Python 3.8 and Qt5

[2021-11-13 19:58] twillis449 commented on #885
Glad to see you are working on this stuff :)

[2021-11-13 20:00] twillis449 commented on #885
Glad to see that you are working on this stuff :)

[2021-11-14 06:55] bennahugo commented on #885
yup I have your code sitting on a branch. I was making headway before adass
planning came in and overran everything else priority wise. Still catching
up, but this is on my plate this month because
we have software downstream that needs components within this framework.

On Sat, Nov 13, 2021 at 10:00 PM Tony Willis ***@***.***>
wrote:

--
--
Benjamin Hugo

PhD. student,
Centre for Radio Astronomy

[2021-11-19 13:18] bennahugo commented on #885
Waiting on NRAO to fix their ephemeris server

[2021-11-23 06:06] bennahugo commented on #885
Fixed

[2021-11-23 06:06] #885 closed, assigned to bennahugo

[2021-11-23 06:07] bennahugo opened #886 "Meqbrowser upgrade to Qt5"

[2022-06-07 17:57] kamva1 opened #887 "Meqtrees: Timba.mequtils not defined"
[code]

I get this when I run meqtrees on the virtual environment (python 3.6) on the server jake n ike.

[2022-06-07 18:00] kamva1 commented on #887
[code]

Then this is the error I get when I run meqtrees straight from the server(like n jake) python 2.7

[2022-06-07 18:57] bennahugo commented on #887
The system packages for 18.04 are old and are not compatible with Python 3 - at least not for 18.04

If you want Python 3 support you need to compile and install the latest releases. See https://github.com/ratt-ru/meqtrees/wiki/BuildFromSource

If you can't compile the packages successfully feel free to open a ticket

[2022-06-07 18:57] #887 closed, assigned to nobody

[2022-06-07 19:07] bennahugo commented on #887
Also before I forget - the newer versions of meqtrees-timba will not compile against the Ubuntu 18.04 shipped packages of casacore and casarest. You will need to grab the latest releases for them to compile against.

There is a Ubuntu 20.04 shipment that is supported. See https://github.com/ratt-ru/meqtrees-timba/blob/master/.ci/py3.docker

[2022-06-07 19:38] kamva1 commented on #887
Yes this is the one I was installing, which does not have Timba.mequtils.

On Tue, Jun 7, 2022 at 8:57 PM Benjamin Hugo ***@***.***>
wrote:

[2022-06-07 19:41] bennahugo commented on #887
Your backtraces show you are using system packages. If you are compiling from source on a system that have previous versions installed you will need to isolate the python3 virtual environment (ie. not using --system-site-packages)

[2022-06-08 07:28] kamva1 commented on #887
I created my python3 virtual environment without ''system-site-packages''. I just uninstalled it and re -installed but still the same problem.

[2022-06-08 08:23] o-smirnov commented on #887
Which node are you on @kamva1. Please post the sequence of commands that you are running -- I will try to log in as you and recreate the problem.

[2022-06-08 08:27] bennahugo commented on #887
Please double check that you are not running the system packages (ie.
venv/bin must be first in the path and load library path should be set to
venv/lib). You can look at the output of which and ldd to check that this
is the case.

On Wed, Jun 8, 2022 at 10:23 AM Oleg Smirnov ***@***.***>
wrote:

--
--
Benjamin Hugo

PhD. student,
Centre for Radio Astronomy Techniques and Technologies
Department o

[2022-06-08 08:55] kamva1 commented on #887
@o-smirnov using Jake, I was following the instructions [from these installation instructions](https://github.com/ratt-ru/meqtrees/wiki/BuildFromSource). I tried this method of building but didn't work.

[code]
 then including `$BUILD/meqtrees-timba/install/symlinked-release/libexec/python to your PYTHONPATH` and `$BUILD/meqtrees-timba/install/symlinked-release/bin` to PATH after virtualenv.

Also

[2022-06-08 09:13] bennahugo commented on #887
Hi the reason why make fails is because you are likely trying to compile
against the system casacore and casarest versions. As mentioned you have to
pull and build the latest of these packages before building meqtrees.

See:
https://github.com/ratt-ru/meqtrees-timba/blob/master/cmake/FindCasaCore.cmake#L27
and
https://github.com/ratt-ru/meqtrees-timba/blob/master/cmake/FindCasarest.cmake#L12

to s

[2022-06-08 09:27] Mulan-94 commented on #887
Hey @bennahugo it looked like it was failing because of a syntax error I guess. So I advised editing it out, See the error :

[code]

Meanwhile, we will try compiling `casacore` and `casarest` from source

[2022-06-08 09:37] o-smirnov commented on #887
OK hang on, there are two separate problems here so the conversation is getting confusing. Lwt's try to straighten this out. @kamva1 please open a separate issue for this one:

[code]

...and give me the exact and complete sequence of commands which lead to this error, so I can log in as you and recreate the problem from scratch.

This ``NameError: name 'im' is not defined`` problem appears to hav

[2022-06-08 09:43] bennahugo commented on #887
Ok the ticket originally said that they wanted to use this within a
python3.6 virtualenv, which would not be feasible with the old 2.7
packages. So the issue is perhaps confused.

However, 2.7 is no longer supported, so I suggest we move on check if this
is an issue with the latest releases.

On Wed, Jun 8, 2022 at 11:37 AM Oleg Smirnov ***@***.***>
wrote:

--
--
Benjamin Hugo

PhD. student,
Centr

[2022-06-08 09:49] kamva1 opened #888 "Meqtrees: NameError [name 'im' is not defined]"
so this happens when I am running the meqtrees simulation script. (e.g python sim_time.py). This is on both ike and jake (python 2.7_. see the output below:

[code]
@o-smirnov

[2022-06-08 10:03] o-smirnov commented on #887
Yep, that's why I want @kamva1's command sequence. It seems the 2.7 KERN versions were pottering along ok, until I started updating the system.

[2022-06-08 10:11] bennahugo commented on #887
Ok I can confirm there is a build issue not picked up with shipped releases of casacore 3.4 and ccrest 1.8 under Ubuntu 20.04. I will make a patch for that now. There is however also build issues when an old casacore is already present in the /usr/ directories (the compiler is spitting out warnings... I will need to patch that as well). The current version of timba will not work with older version

[2022-06-08 11:27] bennahugo commented on #887
Patch to be applied
[code]

I will open a PR for this now

[2022-06-08 12:29] bennahugo commented on #887
Ok I have a solution for you if you want to use the system casacore versions as you have done. Please apply the patch for that to work. The fix here is to downgrade to python-casacore==3.0.0 AFTER installing all the meqtrees python packages, this ensures you don't have mismatching ABI versions for casacore libraries.

There is something very broken in the multi-python installation on jake. The 3.6

[2022-06-08 12:44] bennahugo commented on #887
Note this may or may not solve the original pyxis problem --- pyxis tests runs through for me but your script may highlight an issue not caught by the test suite. At least it will be reproducable in a python3 environment where a fix can be made @o-smirnov .

[2022-06-08 12:44] o-smirnov commented on #888
@kamva1, once again, full sequence of commands please, from the moment you log in.

[2022-06-08 13:07] kamva1 commented on #888
On server ike : I go inside my working directory (e.g cd vanqa/Vanqa/Vanqa) -- here I have all the files and scripts I am using to run my main script (sim_time.py). Then I run on the working directory( python sim_time.py) and when running this, I get the above error.

[2022-06-08 13:14] kamva1 commented on #888
@o-smirnov Please find this on  **ike**: ```/home/vanqa/Vanqa/Vanqa/sim_time.py```

 with all other scripts imported into this one.

[2022-06-08 13:14] bennahugo commented on #888
I've set up a reproducer here based on the input. I had to port the scripts to python3 for this with minor modifications. It looks like the imager module of pyxis no longer works as intended -- don't think this is part of the test as far as I know:
The scripts are here:
(venv) hugo@jake:~/mtbuild/test-vanqa$

You should activate ~/mtbuild/venv for the python3 build of MT

You can then run his sim_

[2022-06-08 13:15] bennahugo commented on #888
I suggest porting this issue over to pyxis. It is not a meqtrees problem per say

[2022-10-11 08:18] bennahugo commented on #887
Ok I can at least confirm there is a compilation issue that is not picked
up with the ubuntu 20.04 build test. I will make a PR to fix this. However
there is also an issue when building with older casacore
libraries are present on the system which I'm looking into to fix

On Wed, Jun 8, 2022 at 12:03 PM Oleg Smirnov ***@***.***>
wrote:

--
--
Benjamin Hugo

PhD. student,
Centre for Radio Astronomy